// ***************** VARIABLES **********************
$linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$lightViolet: hsl(270, 3%, 87%);
$darkViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);